<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">无内容</h3>
            </div>
            <div class="panel-body">
                <div class="well well-lg"><a href="/create"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;新建文章</a></div>
                <div class="well well-lg"><a href="/manage/category"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;新建分类</a></a></div>
            </div>
        </div>
    </div>
</div>