<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>404</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            padding-bottom: 70px;
            margin-bottom: 60px;
            padding-top: 70px;
        }
        .background {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            z-index: 0;
        }
    </style>
</head>
<body style="background-color: #eee;">
<canvas class="background"></canvas>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-danger">
                <div class="panel-heading" th:unless="${reason == null}" th:text="${reason}"></div>
                <div class="panel-body">
                    <pre>

                       444444444       000000000            444444444
                      4::::::::4     00:::::::::00         4::::::::4
                     4:::::::::4   00:::::::::::::00      4:::::::::4
                    4::::44::::4  0:::::::000:::::::0    4::::44::::4
                   4::::4 4::::4  0::::::0   0::::::0   4::::4 4::::4
                  4::::4  4::::4  0:::::0     0:::::0  4::::4  4::::4
                 4::::4   4::::4  0:::::0     0:::::0 4::::4   4::::4
                4::::444444::::4440:::::0 000 0:::::04::::444444::::444
                4::::::::::::::::40:::::0 000 0:::::04::::::::::::::::4
                4444444444:::::4440:::::0     0:::::04444444444:::::444
                          4::::4  0:::::0     0:::::0          4::::4
                          4::::4  0::::::0   0::::::0          4::::4
                          4::::4  0:::::::000:::::::0          4::::4
                        44::::::44 00:::::::::::::00         44::::::44
                        4::::::::4   00:::::::::00           4::::::::4
                        4444444444     000000000             4444444444
    </pre>
                </div>
                <div class="panel-footer">
                    <a href="/">返回首页</a>
                    &nbsp;&nbsp;
                    <a href="javascript:history.back(-1);">上一步</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:include="common/footer"
        style=" position: absolute;bottom: 0;width: 100%;height: 60px;background-color: #99979c;"></footer>
<script th:src="@{/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/particles.min.js}"></script>
<script th:src="@{/js/badblog.js}"></script>
</body>
</html>