<ul class="list-group" th:inline="text">
    <li class="list-group-item list-group-item-success">
        <span class="glyphicon glyphicon-user"></span> &nbsp;个人信息
    </li>
    <li class="list-group-item">姓名: <strong>钟志兴</strong></li>
    <li class="list-group-item ">专业: <strong>计算机科学与技术</strong></li>
    <li class="list-group-item ">邮箱: <strong>zhongzhixing@rexunil.com</strong></li>
    <li class="list-group-item ">
        联系:
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2995373729&site=qq&menu=yes"><img border="0" th:src="@{/images/qq.gif}" alt="联系我" title="联系我"/></a>
    </li>
</ul>