<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>注册</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style type="text/css">
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            padding-bottom: 70px;
            margin-bottom: 60px;
            padding-top: 70px;
        }

        .background {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            z-index: 0;
        }
    </style>
</head>
<body>
<canvas class="background"></canvas>
<div class="container">
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <div  class="alert alert-danger"  data-dismiss="alert" aria-label="Close" role="alert"  th:unless="${reason == null}" th:inline="text">
                [[${reason}]]
            </div>
            <div id="tip" class="alert alert-danger" role="alert" style="display: none;"></div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">注册</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="post" action="/user/addUser"
                          onsubmit="return checkForm();">
                        <div class="form-group">
                            <label for="username" class="col-sm-3 control-label">用户名</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="username" name="username"
                                       placeholder="用户名"
                                       required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-3 control-label">邮箱</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="email" name="email" placeholder="邮箱"
                                       required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="checkCode" class="col-sm-3 control-label">验证码</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="checkCode" name="checkCode"
                                       placeholder="验证码"
                                       required="required">
                            </div>
                            <div class="col-sm-2">
                                <button id="getAuthCode" type="button" class="btn btn-danger" disabled>点击获取</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-3 control-label">密码</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="password" name="password"
                                       placeholder="密码"
                                       required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirmPassword" class="col-sm-3 control-label">确认密码</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="confirmPassword"
                                       placeholder="确认密码"
                                       required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-3">
                                <button id="btnSignup" type="submit" class="btn btn-success btn-block" disabled>
                                    提交
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <a href="/user/login">返回登录</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/user/forgetPassword">忘记密码?</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:include="common/footer"
        style=" position: absolute;bottom: 0;width: 100%;height: 60px;background-color:#99979c;"></footer>
<script th:src="@{/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/particles.min.js}"></script>
<script th:src="@{/js/badblog.js}"></script>
<script>

    /*
     *
     * 倒计时重新获取验证码!
     * */
    var second = 90;
    var interval;

    function checkUsername() {
        var username = $("#username").val();
        if (username == '') {
            return false;
        }

        $.post('/user/exist', {username: username}, function (data) {
            console.log("ajax_data=" + data);
            if (!data) {
                $("#username").css("border-color", "red");
                console.log("用户名不合法!");
                $("#tip").text("用户名已存在!").css("display", "block");
                return false;
            }
//
        });

        return true;
    }

    function checkEmail() {
        var email = $("#email").val();
        var emailReg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
        if (email == '' || !emailReg.test(email)) {
            $("#tip").text("邮箱不合法!").css("display", "block");
            $("#email").css("border-color", "red");
            $("#btnSignup").attr("disabled", "disabled");
            console.log("请输入email!");
            return false;
        }

        $.post('/user/email', {email: email}, function (data) {
            console.log("ajax_data=" + data);
            if (data) {
                console.log("email不合法!");
                $("#tip").text("该邮箱已被注册!").css("display", "block");
                $("#getAuthCode").attr("disabled","disabled");
                $("#email").css("border-color", "red");
                return false;
            }
        });

        return true;
    }

    function checkPassword() {
        var confirmPassword = $("#confirmPassword").val();
        var newPassword = $("#password").val();

        console.log("password=" + newPassword + "&confirmPassword=" + confirmPassword);

        if (confirmPassword != '' && confirmPassword == newPassword) {
            return true;
        }
        return false;
    }

    function checkForm() {
        return checkUsername() && checkEmail() && checkPassword();
    }

    function countDown() {
        if (second > 0) {
            second = second - 1;
            $("#getAuthCode").text(second + "S 后重发");
        } else {
            clearInterval(interval);
            $("#getAuthCode").removeAttr("disabled");
            $("#getAuthCode").text("点击获取");
            second = 90;
        }
    }

    $("#username").blur(function () {
        if (!checkUsername()) {
            $("#username").css("border-color", "red");
            $("#btnSignup").attr("disabled", "disabled");
            console.log("请输入用户名!");
            $("#tip").text("用户名不合法!").css("display", "block");
        } else {
            $("#username").css("border-color", "#3c763d");
        }
    });

    $("#email").keyup(function () {
        if (checkEmail()) {
            $("#tip").text("邮箱合法!").css("display", "block");
            $("#getAuthCode").removeAttr("disabled");
            $("#email").css("border-color", "#3c763d");
        } else {
            $("#getAuthCode").attr("disabled","disabled");
            $("#email").css("border-color", "red");
        }
    });

    $("#getAuthCode").click(function () {
        if (checkEmail()) {
            var email = $("#email").val();

            $("#tip").text("验证码已发送至邮箱，请注意查收!").css("display", "block");

            $.post('/user/checkCode', {email: email}, function (data) {
                console.log("发送验证码后返回的data:" + data);
            });

            interval = setInterval(countDown, 1000);
            $("#getAuthCode").attr("disabled", "disabled");

        }
    });

    $("#confirmPassword").blur(function () {
        if (checkPassword()) {
            $("#btnSignup").removeAttr("disabled");
            console.log("新密码与确认密码相同!");
            $("#tip").text("两次密码一致").css("display", "block");
        } else {
            $("#tip").text("两次密码不一致!").css("display", "block");
            $("#btnSignup").attr("disabled", "disabled");
        }
    });

    $("#confirmPassword").keyup(function () {
        if (checkPassword()) {
            $("#btnSignup").removeAttr("disabled");
            console.log("新密码与确认密码相同!");
            $("#tip").text("两次密码一致").css("display", "block");
        } else {
            $("#tip").text("两次密码不一致!").css("display", "block");
            $("#btnSignup").attr("disabled", "disabled");
        }
    });

</script>
</body>
</html>